<!DOCTYPE html>
<html>
    <head>
    <title>Pathfinder Utilities - Initiative Tracker</title>
    </head>
    <body>
        <input type="text" ng-model="creature.name">
        <input type="number" ng-model="creature.initiative">
        <button ng-click="add()">Add</button>
        <div ng-repeat="creature in creatures | orderBy:'-initiative'">
            <span>{{ creature.name }}</span>
            <span>{{ creature.initiative }}</span>
            <span class="remove" ng-click="remove($index)">x</span>
        </div>
    </body>
</html>
